:host-context(news-item-home) {
    ion-card {
      --background: var(--deco-background-primary, #ffffff);
  
      ion-img {
        height: 120px;
        object-fit: cover;
      }
  
      ion-card-content {
        padding: 8px;
        display: flex;
        flex-direction: column;
        min-height: 120px;
        justify-content: space-between;
      }
  
      ion-card-header {
        position: relative;
  
        .category {
          position: absolute;
          top: 8px;
          left: 8px;
        }
      }
    }
  }
  