.background-size {
    height: 250px;
  }
  
  .text-size-xl {
    font-weight: 400;
  }
  
  ion-card {
    margin-top: -20px;
    --background: var(--deco-background-primary, #ffffff);
    --color: var(--deco-background-dark, #1b1e28);
  
  
    ion-label,
    .commnets,
    .time-icon {
      display: flex !important;
      align-items: center;
      overflow: visible;
  
      p {
        margin: 0 10px;
        display: block;
      }
    }
  
    .category {
      top: 6px;
      left: 0;}
  }
  